/*FONT*/
@font-face {
    font-family: 'GT Walsheim Bold';
    src: url('../font/gt-walsheim-bold-webfont.ttf') format('truetype');
    font-family: 'GT Walsheim Light';
    src: url('../font/gt-walsheim-regular-webfont.ttf') format('truetype');
}

/***********************************/
/***                             ***/
/***          Carousel           ***/
/***                             ***/
/***********************************/
body {
    background: #1A2247;
}

.basics__landing {
    position: absolute;
    height: 75vh;
    top: 100px;
    width: 80%;
    left: 10%;
    background-color: #e1f0ff;
    z-index: 99;
}

.basics__landing-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:    "landing-text1"
                            "landing-text2"
                            "landing-button";
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 8%;
}

.basics__landing-content p {
    line-height: 30pt;
    font-size: 20pt;
}

.basics__landing-content a {
    line-height: 30pt;
    font-size: 20pt;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;

    display: block;
    padding: 10px;
    background-color: #5e7aff;
    font-weight: 700;
    color: #E1F0FF;
}

.basics__landing-content a:hover {
    background-color: #ACC0FF;
    cursor: pointer;
}

#basics__landing-text1 {
    grid-area: landing-text1;
}

#basics__landing-text2 {
    grid-area: landing-text2;
}

#basics__landing-button {
    grid-area: landing-button;
    align-self: center;
}

.basics__landing-info {
    right: 11%;
    top: 120px;
    position: absolute;
    z-index: 98;
    background-color: rgba(0,0,0,0);
    color: #ACC0FF;
    border: none;

}

.basics__landing-info:focus {
    outline: none;
}

.basics__landing-info:hover {
    color: #5e7aff;
    cursor: pointer;
}

.carousel {
    position: relative;
    height: 75vh;
    width: 80%;
    top: 100px;
    margin: 0 auto;
    background: #E1F0FF;
    transition: ease-in-out 0.2s;
}


.carousel__track-container {
    background: #e1f0ff;
    height: 55vh;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__nav-content {
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: "button-left dots button-right";
    background: #E1F0FF;
    transition: ease-in-out 0.2s;
}

.carousel__button {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}

.carousel__button--left {
    grid-area: button-left;
}

.carousel__button--right {
    grid-area: button-right;
}

.carousel__button img {
    width: 40px;
}

.carousel__nav {
    width: 100%;
    height: 14px;
    grid-area: dots;
    display: grid;
    margin: 2.5vh 0;
    grid-template-columns: repeat(25, 14px);
    grid-gap: 1.5%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.carousel__indicator {
    width: 14px;
    height: 14px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border-style: none;
    color: #5e7aff;
    background-color: #ACC0FF;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    padding:0;
}

.carousel__indicator-checked {
    background-color: #0000A0;
}

.carousel__indicator-pagenumber {
    display: none;
}

.carousel__indicator.current-slide {
    background: #0000FF;
}

.carousel__breaker {
    background-color: rgba(0,0,0,0);
    border-radius: 0;
}

.carousel__breaker.current-slide {
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    color: #0000FF;
}

.is-hidden {
    display: none;
}


/***********************************/
/***                             ***/
/***           BASICS            ***/
/***                             ***/
/***********************************/

.carousel__basics-nav {
    position: relative;
    display: grid;
    grid-template-rows: 8vh 2vh;
    grid-template-areas:    "basics-letter"
    "basics-terms";
    margin: 0 auto;
    width: 80%;
    height: 10vh;
}


.carousel__basics {
    display: grid;
    grid-area: basics-letters;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: 8vh;
}

.carousel__basics-letter {
    height: 60%;
    margin: 0 auto;
    align-self: end;
}

.carousel__basics-blue {
    position: absolute;
}


.carousel__basics-white {
    position: absolute;
}
.basics__term {
    grid-area: basics-terms;
    display: grid;
    align-self: start;
    grid-template-columns: repeat(6, 1fr);
}

.basics__term-text {
    margin: 0 auto;
    font-size: 14pt;
    color: #ACC0FF;
}

.hidden-letter {
    opacity: 0;
}

.hidden-text{
    opacity: 0;
}





/***********************************/
/***                             ***/
/***       Slide Content         ***/
/***                             ***/
/***********************************/


.slide__content {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.slide__question {
    height: 30%;
    width: 100%;
    align-self: center;
    font-family: GT Walsheim Bold, Poppins, sans serif;
    font-weight: 800;
}

.slide__question-text {
    position: relative;
    width: 67%;
    margin: 0 auto;
    text-align: center;
    line-height: 30pt;
    font-size: 28pt;
}

.slide__choices {
    width: 80%;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-content: end;

}

.slide__choices-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self:  end;
}

.slide__choices-radio {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border: 8px solid white;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    color: #666;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slide__choices-radio:hover {
    background-color: #5e7aff;
}

.slide__choices-radio:checked {
    background-color: #1A2247;
}

.slide__choices-subtext {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    top: 0;
    align-self:  start;
    text-align: center;
    word-wrap: break-word;
}


/***********************************/
/***                             ***/
/***     Transition Slides       ***/
/***                             ***/
/***********************************/

.transition-slide {
    display: grid;
    height: 90%;
    grid-template-rows: 50% 50%;
    padding: 40px;
}

.transition-slide__reinhard {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    grid-template-areas: "reinhard-image reinhard-message";
    align-items: center;
    justify-items: center;
}

.transition-slide__martin {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    grid-template-areas: "martin-message martin-image";
    align-items: center;
    justify-items: center;
}

.reinhard-message {
    grid-area: reinhard-message;
    width: 80%;
    text-align: left;
    float: left;
}

.reinhard-image {
    grid-area: reinhard-image;
}

.martin-message {
    grid-area: martin-message;
    width: 80%;
    text-align: right;
    float: right;
}

.margin-image {
    grid-area: martin-image;
}

.transition-slide p {
    font-size: 1.6em;
    line-height: 1.4em;
}

.speech-bubble-right {
    position: relative;
    background-color: #ffffff;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    /*border: solid 4px #5e7aff;*/
    /*box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .1), 0 0.0625rem 0.125rem rgba(0, 0, 0, .1);*/
}


.speech-bubble-right:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left-color: #ffffff;
    border-right: 0;
    margin-top: -25px;
    margin-right: -15px;
    /*filter: drop-shadow(0.25rem 0 0 rgba(94, 122, 255, 1));*/
}

.speech-bubble-left {
    position: relative;
    background-color: #ffffff;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    /*border: solid 4px #5e7aff;*/
    /*box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .1), 0 0.0625rem 0.125rem rgba(0, 0, 0, .1);*/
}

.speech-bubble-left:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    margin-top: -25px;
    margin-left: -15px;
    /*filter: drop-shadow(-0.25rem 0 0 rgba(94, 122, 255, 1));*/
}

.transition-slide__image img {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}


/***********************************/
/***                             ***/
/***       Contact Content       ***/
/***                             ***/
/***********************************/


.contact__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 27.5vh 27.5vh;
    grid-template-areas:    "message score mail"
                            "img score mail";
    height: 55vh;
    width: 100%;
}

.contact__message {
    grid-area: message;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    background-color: #E1F0FF;
}

.contact__message h2 {
    align-self: center;
    font-size: 2.2em;
    line-height: 0.9em;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.contact__message p {
    font-size: 1.3em;
    line-height: 1.3em;
    align-self: center;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.contact__img {
    grid-area: img;
}

.contact__img img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.contact__score {
    grid-area: score;
    background-color: #ffffff;
    font-family:  GT Walsheim Bold, Poppins, sans serif;
    font-weight: 800;
}


#your-score {
    width: 100%;
}

#error-message {
    font-size: 1.6em;
    line-height: 1.2em;
}

.contact__score p {
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    align-self: center;
    padding-top: 30%;
}


#final-score{
    margin: 0 auto;
    min-width: 30%;
    max-width: 66%;
    text-align: center;
    font-size: 10em;
    line-height:1em;
    border-bottom: 5px solid;
    padding: 0;
}


.contact__mail {
    grid-area: mail;
    background-color: #5e7aff;
    text-align: left;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.contact__mail h2 {
    align-self: center;
    font-size: 2.2em;
    line-height: 1.0em;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    color: #E1F0FF;
}


.contact__mail p {
    font-size: 1.6em;
    line-height: 1.2em;
    color: #ffffff;
    padding-right: 40px;
    padding-left: 40px;
    align-self: center;
}


#contact__mail-button a {
    display: inline-block;
    width: 40%;
    margin-top: 10%;
    margin-left: 10%;
    line-height: 18pt;
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    padding: 12px 0;
    background-color: #0000A0;
    color: #E1F0FF;
    font-weight: 600;
}

#contact__mail-button a:hover {
    cursor: pointer;
    background-color: #1A2247;
}

#contact__base-info {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-size: 1.4em;
    line-height: 1.6em;
    list-style: none;
    color: #ffffff;
    align-self: center;
}



/***********************************/
/***                             ***/
/***           MOBILE            ***/
/***                             ***/
/***********************************/


@media only screen and (max-width: 1000px) and (orientation: portrait){

    /*** Landing ***/

    .basics__landing {
        width: 100vw;
        height: 90vh; /*Fallback*/
        top: 10vh;
        left: 0;

        height: calc(var(--vh, 1vh)* 90); /*Height with custom CSS Property scaling content to the actual height.*/
    }

    .basics__landing-content {
        margin-top: 20px;
    }

    .basics__landing-content p {
        line-height: 22pt;
        font-size: 16pt;
    }

    .basics__landing-content a {
        font-size: 16pt;
        padding: 5px;
        width: 150px;
    }

    #basics__landing-button {
        margin-top: 40px;
        align-self: end;
    }

    #basics__landing-info {
        top: revert;
        width: 10%;
        bottom: 20px;
        right: 50%;
        left: 50%;
        padding: 0;
        margin-left: -5%;
        margin-right: 5%;
        text-align: center;
        overflow: visible;
    }

    /*** Carousel ***/

    .carousel {
        height: 100vh;
        width: 100vw;
        top: 0;
        overflow: hidden;
        background-color: #E1F0FF;
        grid-template-rows: 25vh 60vh 10vh;
        grid-template-areas: "basics-nav"
                            "track-container"
                            "nav-content";

        height: calc(var(--vh, 1vh)* 100); /*Height with custom CSS Property scaling content to the actual height.*/
        grid-template-rows: calc(var(--vh, 1vh)* 30) calc(var(--vh, 1vh)* 60) calc(var(--vh, 1vh)* 10);

    }

    .carousel__track-container {
        grid-area: track-container;
        height: 65vh;
        height: calc(var(--vh, 1vh)* 65); /*Height with custom CSS Property scaling content to the actual height.*/

    }

    .carousel__indicator-pagenumber {
        opacity: 0; /* Hiding the page number as per customer wish*/
        position: relative;
        margin: 0 auto;
        align-self: center;
        display: inline-block;
        grid-area: pagenumber;
    }

    .carousel__nav-content {
        grid-area: nav-content;
        width: 90%;
        height: 15vh;
        margin: 0 auto;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 5vh 10vh;
        grid-template-areas: "dots dots dots"
        "button-left pagenumber button-right";

        height: calc(var(--vh, 1vh)* 15); /*Height with custom CSS Property scaling content to the actual height.*/
        grid-template-rows: calc(var(--vh, 1vh)* 5) calc(var(--vh, 1vh)* 10);
    }

    .carousel__nav {
        grid-area: dots;
        width: 100%;
        margin: 0;
        padding: 0;
        align-self: end;
        grid-template-columns: repeat(25, 3%);
        grid-template-rows: 1fr;
        grid-gap: 1%;
    }

    .carousel__indicator {
        width: 15px;
        height: 15px;
        overflow: revert;
        pointer-events: none;
    }

    .fa, .far, .fas {
        font-size: 0.8em;
    }

    .carousel__indicator-pagenumber {
        font-size: 3vh;
        height: 2vh;
        margin: 0 auto;
        bottom: 1.6em;
        color: #5e7aff;
    }

    .carousel__button {
        height: 100%;
    }

    .carousel__button img{
        height: 100%;
    }



    /***           BASICS            ***/


    .carousel__basics-nav {
        grid-area: basic-nav;
        position: relative;
        width: 90vw;
        height: 20vh;
        padding-top: 0;
        grid-template-rows: 1fr;
        height: calc(var(--vh, 1vh)* 20); /*Height with custom CSS Property scaling content to the actual height.*/

    }

    .carousel__basics {
        margin: 0 auto 20px;
        align-self: end;
        height: 8vh;
        height: calc(var(--vh, 1vh)* 8); /*Height with custom CSS Property scaling content to the actual height.*/

    }

    .basics__term {
        display: none;
    }


    /***       Slide Content         ***/


    .slide__content {
        height: 60vh;
        grid-template-rows: 1fr 1fr;

        height: calc(var(--vh, 1vh)* 60);
    }

    .slide__question {
        height: revert;
        width: 100%;
    }

    .slide__question-text {
        position: relative;
        width: 90%;
        line-height: 4.0vh;
        font-size: 3.8vh;
    }

    .slide__choices {
        width: 95%;
        margin: 0 auto;
        grid-template-rows: 1fr 1fr;
        align-self: center;
    }

    /* Seems not necessary */
    /*.slide__choices-radio {
        height: 5vh;
        width: 5vh;
    }*/

    .slide__choices-subtext {
        font-size: 2vh;
        hyphens: manual;
        word-wrap: break-word;
        line-height: 1.1em;
        grid-gap: 1%;
    }


    /*** Transition Slides ***/


    .transition-slide {
        padding: 20px;
    }

    .transition-slide__reinhard {
        grid-template-columns: 15% 85%;
    }

    .transition-slide__martin {
        grid-template-columns: 85% 15%;
    }

    .transition-slide__image img{
        width: 80px;
        height: 80px;
    }

    .reinhard-image {
        padding-left: 10px;
        padding-bottom: 100px;
        z-index: 80;
    }

    .martin-image {
        padding-right: 10px;
        padding-bottom: 100px;
    }

    .reinhard-message {
        width: 100%;
        font-size: 9pt;
        line-height: 14pt;
        text-align: left;
    }

    .speech-bubble-left {
        padding-left: 40px;
    }

    .martin-message {
        width: 100%;
        font-size: 9pt;
        line-height: 14pt;
        text-align: left;
    }

    .speech-bubble-left {
        height: auto;
    }

    .speech-bubble-right {
        height: auto;
    }

    .speech-bubble-right:after {
        opacity: 0;
    }

    .speech-bubble-left:after {
        opacity: 0;
    }


    /***       Contact Content       ***/


    .contact__content {
        height: 65vh;
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 25vh 25vh;
        grid-template-areas: "score score"
                            "message message"
                            "mail mail";

        height: calc(var(--vh, 1vh)* 65); /*Height with custom CSS Property scaling content to the actual height.*/
        grid-template-rows: calc(var(--vh, 1vh)* 15) calc(var(--vh, 1vh)* 25) calc(var(--vh, 1vh)* 25); /*Grid-Rows with custom CSS Property scaling content to the actual height.*/
    }

    .contact__img {
        display: none;
    }

    .contact__message {
        grid-template-rows: 8vh 17vh;
        height: 100%;
        width: 100vw;
        margin: 0;

        grid-template-rows: calc(var(--vh, 1vh)* 8) calc(var(--vh, 1vh)* 17); /*Grid-Rows with custom CSS Property scaling content to the actual height.*/
    }

    .contact__message h2 {
        width: 100%;
        font-size: 1.4em;
        text-align: center;
    }

    .contact__message p {
        font-size: 1.2em;
        line-height: 1.4em;
        text-align: center;
    }

    .contact__score {
        background: #ffffff;
        height: 100%;
        width: 100vw;
    }

    #error-message {
        width: 100vw;
        font-size: 1.4em;
        line-height: 1em;
        text-align: center;
        padding-top: 20px;
    }

    #your-score {
        width: 100vw;
    }

    #your-score-text {
        width: 50vw;
        position: relative;
        float: left;
        text-align: center;
        font-size: 1.4em;
        line-height: 1em;
        padding-top: 30px;
    }

    #final-score {
        position: relative;
        float: right;
        text-align: center;
        padding-top: 20px;
        margin-right: 10vw;
        min-width: 30vw;
        max-width: 48vw;
        font-size: 8vh;
        line-height: 1em;
    }

    .contact__mail {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas: "contact-mail-title contact-mail-title"
                            "contact-base-info contact-mail-button"
                            "contact-base-info contact-mail-button";
        height: 100%;
        width: 100vw;
    }

    .contact__mail h2 {
        grid-area: contact-mail-title;
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: left;
        font-size: 1.4em;
        padding-top: 1.4em;
    }

    #contact__base-info {
        grid-area: contact-base-info;
        font-size: 1.2em;
        line-height: 1.4em;
        margin: 0;
        padding-left: 5vw
    }

    #contact__mail-button {
        grid-area: contact-mail-button;
        padding-top: 1.4em;
        align-content: center;
        align-self: center;
        align-items: center;
    }

    #contact__mail-button a {
        width: 80%;
        margin: 0 auto;
    }

}


@media only screen and (max-width: 600px) {

    .carousel__indicator {
        width: 10px;
        height: 10px;
        pointer-events: none;
    }
}


@media only screen and (max-width: 500px) {

    .carousel__basics {
        margin: 0 auto 20px;
        align-self: end;
        height: 60%;
    }

    .slide__question-text {
        position: relative;
        width: 90%;
        line-height: 1.1em;
        font-size: 2.0em;
    }

    .slide__choices-subtext {
        font-size: 1.0em;
        hyphens: manual;
        word-wrap: break-word;
        line-height: 1.1em;
        grid-gap: 1%;
    }

}

@media only screen and (max-width: 400px) {

    .carousel__basics {
        margin: 0 auto 20px;
        align-self: end;
        height: 40%;
    }

    .slide__question-text {
        position: relative;
        width: 90%;
        line-height: 1.3em;
        font-size: 1.8em;
    }
}


@media only screen and (max-height: 736px) {
    .basics__landing-content {
        grid-template-rows: 3fr 3fr 1fr;
        height: 90%;
        padding-top: 10px;
    }

    .basics__landing-content p {
        font-size: 12pt;
        line-height: 18pt;
    }

    .basics__landing-content a {
        font-size: 12pt;
        padding: 0;
    }

    #basics__landing-button {
        margin: 0;
    }

    /*** Transition Slide ***/

    .transition-slide p {
        line-height: revert;
    }

    .transition-slide__image img {
        width: 70px;
        height: 70px;
    }

    .speech-bubble-left {
        padding-left: 25px;
        height: 80%;
    }

    .speech-bubble-right {
        height: 80%;
    }

    .reinhard-image {
        padding-bottom: 70px;
    }

    .martin-image {
        padding-bottom: 70px;
    }

    .reinhard-message {
        font-size: 9pt;
        line-height: 20pt;
    }

    .martin-message {
        font-size: 9pt;
        line-height: 20pt;
    }


    /*** Carousel ***/

    .carousel__basics {
        height: 40%;
    }
}

@media only screen and (max-height: 640px) {

    #basics__landing-info {
        font-size: 2.5em;
    }


    .slide__question-text {
        position: relative;
        width: 90%;
        line-height: 1.1em;
        font-size: 1.5em;
    }


    /*** Carousel ***/
    .carousel__basics-nav {
        height: 25vh;

        height: calc(var(--vh, 1vh)* 25); /*Height with custom CSS Property scaling content to the actual height.*/
    }

    .carousel__track-container {
        height: 60vh;

        height: calc(var(--vh, 1vh)* 60); /*Height with custom CSS Property scaling content to the actual height.*/
    }


    .carousel__nav-content {
        height: 10vh;
        grid-template-rows: 3vh 7vh;
        grid-template-columns: 1fr 2fr 1fr;

        height: calc(var(--vh, 1vh)* 10); /*Height with custom CSS Property scaling content to the actual height.*/
        grid-template-rows: calc(var(--vh, 1vh)* 3) calc(var(--vh, 1vh)* 7);
    }

    .carousel__indicator {
        width: 8px;
        height: 8px;
    }


    .carousel__button {
        height: 80%;
        width: 100%;
        margin-top: 10%;
    }

    .fa, .far, .fas {
        font-size: 0.6em;
    }


    /*** Transition Slide ***/

    .transition-slide {
        padding: 10px;
        align-content: start;
        grid-template-rows: auto auto;
    }

    .transition-slide__image img {
        width: 60px;
        height: 60px;
    }

    .speech-bubble-left {
        padding-left: 25px;
        height: 90%;
    }

    .speech-bubble-right {
        height: 90%;
    }

    .reinhard-image {
        padding-bottom: 70px;
    }

    .martin-image {
        padding-bottom: 70px;
    }

    .reinhard-message {
        font-size: 7pt;
        line-height: 14pt;
    }

    .martin-message {
        font-size: 7pt;
        line-height: 14pt;
    }



    /***    contact    ***/


    .contact__content {
        height: 60vh;
        grid-template-rows: 20vh 40vh;
        grid-template-areas: "score message"
                             "mail mail";
    }

    .contact__img {
        display: none;
    }

    .contact__message p {
        font-size: 1.2em;
    }

}